.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.navbar__logo {
    font-size: 30px;
    font-weight: 600;
    color: #FB5014;
}

.navbar__logo span {
    font-size: 54px;
    font-weight: 600;
    color: #17B4CC;
}

.navbar__links {
    display: flex;
    gap: 150px;
}

.navbar__links a {
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
}

.navbar__links a:hover {
    color: #FB5014;
}

vfds