.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.navbar__logo {
    font-size: 30px;
    font-weight: 600;
    color: #FB5014;
}

.navbar__logo span {
    font-size: 54px;
    font-weight: 600;
    color: #17B4CC;
}

.navbar__links {
    display: flex;
    gap: 150px;
}

.navbar__links a {
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
}

.navbar__links a:hover {
    color: #FB5014;
}

.navbar__search {
    width: 350px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 500px;
    padding: 10px;
}

.navbar__search input {
    width: 89%;
    height: 89%;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

.navbar__search button {
    border: none;
    background: white;
    color: black;
    font-weight: 100;
    font-size: 25px;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar__search button:hover {
    background: white;
    color: #FB5014;
}