.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.first {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

h1{
    color: white;
}

.Link {
    font-size: 20px;
    color: skyblue;
}